<!DOCTYPE html>
<lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>mail example</title>
</head>
<body>
	<form action="https://simple-express-gmail.vercel.app" method="post" id="email-form">
		<label for="email">email: </label>
		<input type="email" name="email" id ="email-input">
		<br/>
		<label for="time">time: </label>
		<input type="datetime-local" name="time" id ="time-input">
		<br/>
		<button type="submit">submit</button>
	</form>
	<script>
		// set time input to current time
		window.addEventListener('load', () => {
			const now = new Date()

			now.setMinutes(now.getMinutes() - now.getTimezoneOffset())
			now.setMilliseconds(null)
			now.setSeconds(null)

			const timeElement = document.getElementById("time-input")
			
			timeElement.value = now.toISOString().slice(0, -1)
		})


		// override default form submit
		const form =document.getElementById('email-form')
		form.addEventListener('submit', async (event) => {
			event.preventDefault()

			const body = {
				email:  document.getElementById("email-input").value,
				time:  document.getElementById("time-input").value,
			}

			const options = {
				headers: {
					Accept: 'application/json',
					'Content-Type': 'application/json',
				},
				method: 'POST',
				body: JSON.stringify(body),
			}

			const {status} = await fetch('https://simple-express-gmail.vercel.app', options)

			const messageElement = document.createElement('h1')

			if (status===200) {
				messageElement.innerHTML = 'success'
			} else {
				messageElement.innerHTML = 'failure'
			}

			document.body.append(messageElement)
		}, true)
	</script>
</body>
</html>